

    <div class="sidebar" >
        
        <div class="sidebar-wrapper" style="background-color: #31b0ae" >
            <div class="logo">
                <a href="javascript:void(0)" class="simple-text logo-mini">
                    <i class="tim-icons icon-single-02"></i>
                </a>
                <a href="javascript:void(0)" class="simple-text logo-normal">
                    <div>
                        <span>{{ user.first_name}}</span>
                        <img  src="{{ perfil.imagenPerfil.url }}" alt="foto-perfil" width="40" height="40">                  
                    </div>
                </a>
            </div>
            <ul class="nav">
                <li class="{% if 'home' in segment %} active {% endif %} ">
                    <a href="{% url 'inicio-alumno' %}">
                        <i class="tim-icons icon-chart-pie-36"></i>
                        <p>Inicio</p>
                    </a>
                </li>
                <li class="{% if 'gym' in segment %} active {% endif %} ">
                    <a href="{% url 'reserva-clases' %}">
                        <i class="tim-icons icon-app"></i>
                        <p>Agenda clases</p>
                    </a>
                </li>
                <li class="{% if 'Planes' in segment %} active {% endif %}">
                    <a href="{% url 'home-plan' %}">
                        <i class="tim-icons icon-align-left-2"></i>
                        <p>Planes</p>
                    </a>
                </li>
                            
                <li>
                    <a href="{% url 'logout-user' %}">
                        <i class="tim-icons icon-button-power"></i>
                        <p>Cerrar sesion</p>
                    </a>
                </li>
            </ul>
            
        </div>
    </div>