{% extends "user/layouts/base.html" %}{% load static %}

{% block title %} Reserva {% endblock %} 


{% block stylesheets %}{% endblock stylesheets %}

{% block content %}         

      
<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Seccion reserva</h5>
          <p>Aqui puedes activar tus clases para que los usuarios puedan realizar reservas</p>          
          </div>   
          {% if estado == 1 %}
                            
               
                  <div class="card-body " >
                     <!--set flash-->
                     {% include 'app/includes/flash.html' %}
                     <!--/set flash-->
                                        
                    <div >                      
                     <hr>
                      <h5 class="title">Detalle de reservas </h5>                     
                    </div>                    
                      <br>
                    <div class="row">                         
                          
                          {% for r in datos %}

                          <div id="box-reserva-user" class="card border border-white  ">
                            <div class="d-flex justify-content-between align-items-center">
                              <h5 class="card-header">Clase: {{ r.clase.descripcion | upper }}</h5>
                              <div class="px-4 pt-2">
                                <p> Estado de la clase</p>   
                                {% if  r.estado  == True %}
                                <span style="background-color:rgb(35, 166, 23);color: white; " class="badge rounded-pill ">ACTIVA</span>
                                     
                                     {% else %}
                                <span style="background-color:rgb(212, 11, 11); color: white;" class="badge rounded-pill ">DESACTIVADA</span>                                     
                                {% endif %}                              
                              </div>          
                            </div>
                                                       
                            <div  class="card-body p-4">
                              <form name="form"  method="POST" >
                                {% csrf_token %}

                                <input type="hidden" name="id" id="id" value="{{ r.clase.id }}"/>
                                
                                <a href="javascript:void(0);"  >                                  
                                  <button  type="submit" class="btn btn-sm btn-success btn-simple" onclick="reservar();">Reservar</button>
                                </a> 
                              </form> 
                                                                                
                                <h5 class="card-title">Cupos :</h5>
                                <p class="card-text">{{ r.cupo_reservado }} / {{ r.cupo }}</p>
                                <div class="progress" style="height: 5;">
                                  <div class="progress-bar" role="progressbar" style="width: {{ r.barra_cupo }}%; background-color:#607d8b;" ></div>
                                </div>
                            </div>
                          </div>                       
                          {% endfor %}                                           
                          </div>                                                                    
                        </div>  
                      </div>             
                    </div>
                  </div>
                </div>
                                
         
        {% else %}                

                            <div class="card text-center">
                                <div class="card-header">
                                <!--set flash-->
                                {% include 'app/includes/flash.html' %}
                                <!--/set flash-->
                                </div>
                                
                                <div class="card-footer text-muted">
                                 Crea Comunidad con nuestro Sitio web
                                </div>
                            </div>                         

                      {% endif %}

{% endblock content %}


{% block javascripts %}{% endblock javascripts %}
