{% extends "user/layouts/base.html" %}{% load static %}

{% block title %} Reserva {% endblock %} 


{% block stylesheets %}{% endblock stylesheets %}

{% block content %}         
{% load utilidades %}
      
<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Seccion reserva</h5>
          <p>Aca puedes agendar tu clase preferida con el horario que te acomode</p>          
          </div>   
          {% if estado == 1 %}
                            
               
                  <div class="card-body " >
                     <!--set flash-->
                     {% include 'app/includes/flash.html' %}
                     <!--/set flash-->
                                        
                    <div >
                      <div class="d-flex  align-items-center" >
                        <form  action="{%  url 'reserva-clases' %}" method="post" >
                          {% csrf_token %}
                               <label >Seleccione una fecha para mostrar </label>                         
                              <select name="fecha" class="form-control" id="inputGroupSelect04" aria-label="Example select with button addon" onchange="this.form.submit()">                       
                                <option value="">Fecha</option>                    
                                  {% for f in datosComunidad %}
                                <option style="color: black ;" value="{{f}}" >{{f}}</option>
                                   {% endfor %}                                                 
                              </select>                                    
                        </form>
                       </div>                      
                     <hr>                     
                    </div>                    
                    
                    <div class="row">                         
                      
                          {% for r in datos %}

                          <div id="box-reserva-user" class="card border border-white  ">
                            <div class="d-flex justify-content-between align-items-center">
                              <h5 class="card-header">Clase: {{ r.clase.descripcion | upper }} </h5>
                              <div class=" pt-2">
                                <p class="btn btn-sm btn-info btn-simple text-white " >{{r.Fecha}} | {{ r.clase.inicioClase }} Horas</p>                                
                              </div>
                              
                              <div class="px-4 pt-2">
                                <p> Estado de la clase</p>   
                                {% if  r.estado  == True %}
                                <span style="background-color:rgb(35, 166, 23);color: white; " class="badge rounded-pill ">ACTIVA</span>
                                     
                                     {% else %}
                                <span style="background-color:rgb(212, 11, 11); color: white;" class="badge rounded-pill ">Cancelada</span>                                     
                                {% endif %}                              
                              </div>          
                            </div>
                                                       
                            <div  class="card-body p-3">
                                         
                                {% if user.id|conReservaActiva:r.Fecha == True and r.id|conReserva  %}
                                                                           
                                                                              
                                        <label for="clase-reservada">Clase reservada</label>
                                        <a href="javascript:void(0);"  >  
                                          {% for res in reservasActivas %}                 
                                          <button  type="submit" class="btn btn-sm btn-danger btn-simple" onclick="delete_reserva('{% url 'delete-reserva' r.id res.id %}')">Eliminar</button>
                                          {% endfor %} 
                                        </a>  
                                                                           
                                      

                                {% else %}
                                
                              <form class="pb-3" name="form"  action="{%  url 'add-reserva' %}" method="POST" >
                                {% csrf_token %}
                                <input type="hidden" name="id" id="id" value="{{ r.id }}"/>                      
                                
                                <a href="javascript:void(0);"  >                                  
                                  <button  type="submit" class="btn btn-sm btn-success btn-simple" >Reservar</button>
                                </a>                                                         
                              </form>

                                  {% endif %}
                                <h5 class="card-title">Cupos :</h5>
                                <p class="card-text">{{ r.cupo_reservado }} / {{ r.cupo }}</p>
                                <div class="progress" style="height: 5;">
                                  <div class="progress-bar" role="progressbar" style="width: {{ r.barra_cupo }}%; background-color:#607d8b;" ></div>
                                </div>
                            </div>
                          </div> 
                          {% empty %}
                                        <div class="card-body">
                                          <!-- reservas activas del alumno -->
                                            {% for ractiva in reservasActivas %}                          

                                            <div style="max-width: 65%;" class="card border border-white  ">
                                              <div class="d-flex justify-content-between align-items-center">
                                                <h5 class="card-header">Clase: {{ ractiva.reserva.clase.descripcion | upper}}</h5>
                                                <div class=" p-2">
                                                  <p class="btn btn-sm btn-info btn-simple text-white" >{{ractiva.fecha}} | {{ ractiva.reserva.clase.inicioClase }}</p>
                                                </div>                              
                                                <div class="px-4 p-3">
                                                  <p>Estado clase</p>   
                                                  {% if  ractiva.reserva.estado  == True %}
                                                  <span style="background-color:rgb(35, 166, 23);color: white; " class="badge rounded-pill ">ACTIVA</span>
                                                      
                                                      {% else %}
                                                  <span style="background-color:rgb(212, 11, 11); color: white;" class="badge rounded-pill ">Cancelada</span>                                     
                                                  {% endif %}                              
                                                </div>
                                                  
                                                  <div  class="card-body p-2">                                         
                                                  
                                                    {% if user.id|conReserva != ractiva.reserva_id %}                                                                              
                                                          <label for="clase-reservada">Clase reservada</label>
                                                          <a href="javascript:void(0);"  >                                  
                                                            <button  type="submit" class="btn btn-sm btn-danger btn-simple" onclick="delete_reserva('{% url 'delete-reserva' ractiva.reserva_id  ractiva.pk %}')">Eliminar</button>
                                                          </a>  
                                                      {% endif %}
                                                </div>             
                                              </div>                                
                                            </div>



                                              {% empty %}                            
                                              <div class="card">
                                              <div class="card-body">
                                                  <h4 class="alert alert-info">{{ user.first_name }} no tienes reservas a clases..  ¡ Vamos Motivate !</h4>
                                              </div>                             
                                                  
                                              </div>
                                              <!-- reservas activas del alumno -->
                                              {%endfor%}

                                        </div>                              
                              {% endfor %}                                                                                                      
                        </div>  
                      </div>             
                    </div>
                  </div>
                </div>
                                
         
        {% else %}                

                            <div class="card text-center">
                                <div class="card-header">
                                <!--set flash-->
                                {% include 'app/includes/flash.html' %}
                                <!--/set flash-->
                                </div>
                                
                                <div class="card-footer text-muted">
                                 Crea Comunidad con nuestro Sitio web
                                </div>
                            </div>                         

                      {% endif %}

{% endblock content %}


{% block javascripts %}{% endblock javascripts %}
