{% extends "app/layouts/base.html" %}{% load static %}

{% block title %} Reserva {% endblock %}


{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{% load utilidades %}


<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Seccion reserva</h5>
          <p>Aqui puedes activar tus clases para que los usuarios puedan realizar reservas</p>
          </div>

            

          {% if estado == 1 %}

          

                  <div class="card-body " >
                     <!--set flash-->
                     {% include 'app/includes/flash.html' %}
                     <!--/set flash-->

                    <div class="d-flex justify-content-between align-items-center">
                      <div>
                        <label for="boton">Activar clase para reserva </label>
                        <a  href="{% url 'reserva-add' %}"  class="btn btn-sm btn-success btn-simple" >IR</a>
                      </div>
                     
                     <div class="d-flex justify-content-end align-items-center" >
                      <form  action="{%  url 'home-reservas' %}" method="post" >
                        {% csrf_token %}
                             <label >Seleccione una fecha para mostrar </label>                         
                            <select name="fecha" class="form-control" id="inputGroupSelect04" aria-label="Example select with button addon" onchange="this.form.submit()">                       
                              <option value="">Fecha</option>                    
                                {% for f in fechas %}
                              <option style="color: black ;" value="{{f.Fecha}}" >{{f.Fecha}}</option>
                                 {% endfor %}                                                 
                            </select>                                    
                      </form>
                      
                     </div>
                     

                    </div>
                    <hr>
                    <h5 class="title">Detalle de reservas </h5>
                      <br>
                    <div class="row">

                        

                          {% for r in datos %}

                          <div id="box-reserva" class="card border border-white  ">
                            <div class="d-flex justify-content-between align-items-center">
                              <h5 class="card-header">Clase: {{ r.clase.descripcion | upper }}</h5>
                              <div class="px-4 pt-2">
                                <p class="btn btn-sm btn-info btn-simple " >{{r.Fecha}}</p>
                              </div>
                              <div class="px-4 pt-2">
                                {% if r.id|existeReserva != True %}
                                <a class="btn btn-sm btn-danger btn-simple" href="javascript:void(0);" disabled>Sin Reserva</a>
                                      {% else %}                                
                                <a class="btn btn-sm btn-info btn-simple" href="javascript:void(0);" data-toggle="modal" data-target="#ventana_modal" onclick="carga_ajax_get('{% url 'diseno_modal' r.id r.clase.descripcion %}', 'ss', '_ventana_modal');">Alumnos</a>
                                {% endif %}
                              </div>
                              

                            </div>
                            
                            <div class="card-body p-4">
                              
                                <p> Estado de la clase</p>
                                {% if  r.estado  == True %}
                                <span style="background-color:rgb(35, 166, 23);color: white;" class="badge rounded-pill ">ACTIVA</span>

                                     {% else %}
                                <span style="background-color:rgb(212, 11, 11); color: white;" class="badge rounded-pill ">DESACTIVADA</span>
                                {% endif %}
                                
                                <hr>
                                <h5 class="card-title">Cupos :</h5>
                                <p class="card-text">{{ r.cupo_reservado }} / {{ r.cupo }}</p>
                                <div class="progress" style="height: 5;">
                                  <div class="progress-bar" role="progressbar" style="width: {{ r.barra_cupo }}%; background-color:#607d8b;" ></div>
                                </div>
                            </div>
                          </div>
                          {% empty %}
                          <center>
                            <p>No tiene una fecha seleccionada</p>
                          </center>
                                
                          {% endfor %}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


                       {% else %}

                            <div class="card text-center">
                                <div class="card-header">
                                <!--set flash-->
                                {% include 'app/includes/flash.html' %}
                                <!--/set flash-->
                                </div>
                                <div class="card-body">
                                <h5 class="card-title">Gestiona las reservar a tus clases</h5>
                                <div class="text-center">
                                    <img style="max-width: 45%;" src='{% static "img/clases.jpeg" %}'  alt="...">
                                </div>
                                <br>
                                <label for="boton">Puedes activar tus clases para reservas </label>
                                <a  href="{% url 'reserva-add' %}"  class="btn btn-sm btn-success btn-simple" >IR</a>

                                </div>
                                <div class="card-footer text-muted">
                                 Crea Comunidad con nuestro Sitio web
                                </div>
                            </div>

                      {% endif %}

{% endblock content %}


{% block javascripts %}{% endblock javascripts %}
