{% extends "app/layouts/base.html" %}{% load static %}

{% block title %} Reserva {% endblock %} 


{% block stylesheets %}{% endblock stylesheets %}

{% block content %}         

      
<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Seccion reserva</h5>
          <p>Aqui puedes activar tus clases para que los usuarios puedan realizar reservas</p>          
          </div>   
          {% if estado == 1 %}
                            
               
                  <div class="card-body ">
                     <!--set flash-->
                     {% include 'app/includes/flash.html' %}
                     <!--/set flash-->
                                        
                    <div >
                      <label for="boton">Activar clase para reserva </label>
                     <a  href="{% url 'reserva-add' %}"  class="btn btn-sm btn-success btn-simple" >IR</a>
                     <hr>
                      <h5 class="title">Detalle de reservas </h5>                     
                    </div>                    
                      <br>
                    <div class="row">           
                      
                          
                          {% for r in datos %}

                          <div class="card border border-white  ">
                            <h4 class="card-header">Clase: {{ r.clase.descripcion | upper }}</h4>
                            <div class="card-body">                                                    
                                <p> Estado de la clase</p>   
                                {% if  r.estado  == True %}
                                <span style="background-color:rgb(35, 166, 23);color: white;" class="badge rounded-pill ">ACTIVA</span>
                                     
                                     {% else %}
                                <span style="background-color:rgb(212, 11, 11); color: white;" class="badge rounded-pill ">DESACTIVADA</span>                                     
                                {% endif %}
                                <hr>
                                <h5 class="card-title">Cupos :</h5>
                                <p class="card-text">{{ r.cupo_reservado }} / {{ r.cupo }}</p>
                                <div class="progress" style="height: 5;">
                                  <div class="progress-bar" role="progressbar" style="width: {{ r.barra_cupo }}%; background-color:#607d8b;" ></div>
                                </div>
                            </div>
                          </div>                       
                          {% endfor %}                                           
                          </div>                                                                    
                        </div>  
                      </div>             
                    </div>
                  </div>
                </div>
                                
         
        {% else %}                

                            <div class="card text-center">
                                <div class="card-header">
                                <!--set flash-->
                                {% include 'app/includes/flash.html' %}
                                <!--/set flash-->
                                </div>
                                <div class="card-body">
                                <h5 class="card-title">Gestiona las reservar a tus clases</h5>
                                <div class="text-center">
                                    <img style="max-width: 45%;" src='{% static "img/clases.jpeg" %}'  alt="...">
                                </div>
                                <br>
                                <p>Activa tus clases </p>
                                <a   href="{% url 'reserva-add' %}" class="btn btn-success" >ir</a>
                                
                                </div>
                                <div class="card-footer text-muted">
                                 Crea Comunidad con nuestro Sitio web
                                </div>
                            </div>                         

                      {% endif %}

{% endblock content %}


{% block javascripts %}{% endblock javascripts %}
