{% extends "app/layouts/base.html" %}

{% block title %} Agrega Plan {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{% load utilidades %}

<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Seccion reservas </h5>
          <p class="category">Active sus clases para las reservas <a ></a></p>
                                
               </div>        

                  <div class="card-body ">
                    
                    <div class="container mt-3">
                      
                        <!--set flash-->
                        {% include 'app/includes/flash.html' %}
                        <!--/set flash-->
                        
                      <form name="form"  method="POST" action="{% url 'reserva-add' %}" >

                        
                        {% csrf_token %}
                        

                                <div class="mb-3 ">
                                  <h5> Mi Comunidad :  {{ comunidad.box | upper }}</h5>
                                </div>
                                <hr>
                                <div class="mb-3 ">
                                  <label for="Clase" class="form-label">Clases de tu Comunidad</label>
                                  <select required name="clase" class="form-control" aria-label="Clases">
                                    <option disabled selected>Seleccione una clase</option>
                                    {% for c in clase %}
                                    <option style="color: black ;"  value="{{ c.id }}"><p>{{ c.descripcion }}</p></option>
                                    {% endfor %}                 
                                  </select>
                                </div>
                                                                  

                                <label for="disciplina" class="form-label">Seleccione que día(s) la clase estara activa</label>
                                <div class="mb-3">           
                                  
                                  <div class="btn-group" data-toggle="buttons">
                                    
                                    <label class="btn btn-default btn-sm ">
                                      <input type="checkbox" name="fecha" value="{{hoy|invierteFecha}}" autocomplete="off" >
                                      <span class="glyphicon glyphicon-ok">{{hoy|queDiaes}}</span>
                                    </label>
                              
                                    <label class="btn btn-default btn-sm">
                                      <input type="checkbox" name="fecha" value="{{undia|invierteFecha}}" autocomplete="off">
                                      <span class="glyphicon glyphicon-ok">{{undia|queDiaes}}</span>
                                    </label>			
                                  
                                    <label class="btn btn-default btn-sm">
                                      <input type="checkbox" name="fecha" value="{{dosdia|invierteFecha}}" autocomplete="off">
                                      <span class="glyphicon glyphicon-ok">{{dosdia|queDiaes}}</span>
                                    </label>			
                                  
                                    <label class="btn btn-default btn-sm">
                                      <input type="checkbox" name="fecha" value="{{tresdia|invierteFecha}}" autocomplete="off">
                                      <span class="glyphicon glyphicon-ok">{{tresdia|queDiaes}}</span>
                                    </label>			
                              
                                    <label class="btn btn-default btn-sm">
                                      <input type="checkbox" name="fecha" value="{{cuatrodia|invierteFecha}}" autocomplete="off">
                                      <span class="glyphicon glyphicon-ok">{{cuatrodia|queDiaes}}</span>
                                    </label>			
                                  
                                    <label class="btn btn-default btn-sm">
                                      <input type="checkbox" name="fecha" value="{{cincodia|invierteFecha}}" autocomplete="off">
                                      <span class="glyphicon glyphicon-ok">{{cincodia|queDiaes}}</span>
                                    </label>			
                                    
                                    <label class="btn btn-default btn-sm">
                                      <input type="checkbox" name="fecha" value="{{seisdia|invierteFecha}}" autocomplete="off">
                                      <span class="glyphicon glyphicon-ok">{{seisdia|queDiaes}}</span>
                                    </label>			
                                  
                                  </div>
                              
                                </div>                                                   
                              <hr>
                                <div class="card-footer text-center">                                    
                                  <a href="javascript:void(0);">
                                    <button type="submit" class="btn btn-fill btn-primary" onclick="crear_gym();">Guardar</button>
                                  </a>                                              
                              </div>

                                </form>              
             
{% endblock content %}


{% block javascripts %}{% endblock javascripts %}
