
    <div class="sidebar">
       
        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="javascript:void(0)" class="simple-text logo-mini">
                    <i class="tim-icons icon-single-02"></i>
                </a>
                <a href="javascript:void(0)" class="simple-text logo-normal">
                    <div>
                        <span>{{ user.username}}</span>
                    </div>
                </a>
            </div>
            <ul class="nav">
                <li class="{% if 'index' in segment %} active {% endif %} ">
                    <a href="{% url 'home-gym' %}">
                        <i class="tim-icons icon-app"></i>
                        <p>Mi Gimnasio</p>
                    </a>
                </li>
                <li class="{% if 'iconos' in segment %} active {% endif %}">
                    <a href="/planes.html">
                        <i class="tim-icons icon-align-left-2"></i>
                        <p>Planes</p>
                    </a>
                </li>
                <li class="{% if 'map' in segment %} active {% endif %}">
                    <a href="/map.html">
                        <i class="tim-icons icon-pin"></i>
                        <p>Clases</p>
                    </a>
                </li>
                <li class="{% if 'notifications' in segment %} active {% endif %}">
                    <a href="/notifications.html">
                        <i class="tim-icons icon-attach-87"></i>
                        <p>Reservas</p>
                    </a>
                </li>            
                
                <li>
                    <a href="{% url 'login' %}">
                        <i class="tim-icons icon-button-power"></i>
                        <p>Cerrar sesion</p>
                    </a>
                </li>
            </ul>
            
        </div>
    </div>
