{% extends "app/layouts/base.html" %}

{% block title %} Perfil Alumnos {% endblock %} 

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{% load utilidades %}
  <div class="content">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            <h5 class="title">Alumnos</h5>
             </div>       
              <div class="card-body">
                {% for alumno in alumnos %}
                 <div style="max-width: 80%;" class="card border border-white  ">
                  <div class="d-flex justify-content-around align-items-center">
                    <div class=" p-2">
                      <a class="text-white" href="javascript:void(0);">
                        {{alumno.nombre.nombreCompleto}} 
                      </a>
                    </div>
                   
                     <div class=" p-2">
                      <a class="btn btn-sm btn-info btn-simple" href="javascript:void(0);"  title="Precione aqui para modificar" data-toggle="modal" data-target="#ventana_modal" onclick="carga_ajax_get('{% url 'modal-perfil-edit' alumno.pk alumno.nombre_id  %}', 'ss', '_ventana_modal');">
                        {% if alumno.plan == None %}
                              Sin plan añadido
                        {% endif %}
                      </a>
                    </div>                              
                    <div class="px-4 p-3">
                      {% if alumno.vigencia %}
                           <p>Pago Vigente</p>
                            {% else %}
                            <p>Pago Caducado</p>
                      {% endif %}    
                    </div>
                  <div class="p-2">                                         
                  <p>reserva activa</p>                   
                </div>

              </div>                                
            </div>
               {% empty %}
               <h5>Sin datos que mostrar</h5>
              {% endfor %}
        </div>
      </div>
      
    </div>
  </div>

{% endblock content %}


{% block javascripts %}{% endblock javascripts %}
