{% extends "app/layouts/ajax.html" %}

{% block content %}
{% load utilidades %}
<div class="modal-header">
  <h5 class="modal-title" id="ventana_modal">Aqui puedes modificar el perfil de tu alumno</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    {% for alumno in alumnos %}
  <div class="card" style="width: 100%;">
    <div class="card-header">
        {{alumno.nombre.nombreCompleto}} 
    </div>
    <hr>
    <form  name="form"  method="POST" action="{% url 'perfil-edit' id %}" >

      {% csrf_token %}

    <div class="mb-3 px-2">
        <label for="plan" class="form-label">Añada un plan al Alumno</label>
        <select  name="plan" class="form-control" aria-label="plan">
          <option  selected value="{{ form.plan.value }}" > PLAN ACTUAL DEL ALUMNO : {{form.plan.value|informacionPerfil}}</option>
          {% for c in alumno.comunidad.id|get_planes_choices %}
          <option style="color: black ;"  value="{{ c.pk }}"><p>{{c.titulo}}</p></option>
          {% endfor %}
          {% endfor %}                 
        </select>      
      </div>
      <div class="mb-3 px-2">
        <label for="plan" class="form-label">Seleccione una opción</label>
        <select  name="vigencia" class="form-control" aria-label="plan">
          <option  selected value="{{ form.vigencia.value }}" disabled>
            {% if form.vigencia.value == 1  %}
                Estado actual del pago : VIGENTE 
                {% else %}
                Estado actual del pago : EXPIRADO 
            {% endif %}
          </option>          
          <option style="color: black ;"  value="1"><p>Pago vigente <p></option>
          <option style="color: black ;"  value="0"><p>Pago expirado<p></option>
        </select>      
      </div>
      <div class="px-2">
        <button class="btn btn-sm btn-danger btn-simple" type="submit">Actualizar</button>
      </div>
      
    </form>
  </div>
</div>
{% endblock %}