{% extends "app/layouts/ajax.html" %}

{% block content %}
{% load utilidades %}
<div class="modal-header">
  <h5 class="modal-title" id="ventana_modal">Añadir o modificar plan de alumno</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    {% for alumno in alumnos %}
  <div class="card" style="width: 100%;">
    <div class="card-header">
        {{alumno.nombre.nombreCompleto}} 
    </div>
    <form  method="POST" >

      {% csrf_token %}
    <div class="mb-3 px-2">
        <label for="plan" class="form-label">Añada un plan al Alumno</label>
        <select required name="plan" class="form-control" aria-label="plan">
          <option disabled selected>Seleccione un plan</option>
          {% for c in alumno.comunidad.id|get_planes_choices %}
          <option style="color: black ;"  value="{{ c.pk }}"><p>{{c.titulo}}</p></option>
          {% endfor %}
          {% endfor %}                 
        </select>
      </div>
      <button class="btn btn-sm btn-danger btn-simple" type="submit">Guardar</button>
    </form>
  </div>
</div>
{% endblock %}